html, body {
    margin: 0;
    padding: 0;
  }
  canvas{
    margin-left: 8%;
    margin-right: 25%;
    margin-top:8%;
    border: 50px solid black;
  }

  Text {
    font-size: larger;
    font-weight: 400;
  }
  
  